<div class="CurrentUserDinamic">
    <div class="currentTitle">
        <H1>CURRENT USER:</H1>
    </div>
    <div class="currentContain">
        <b>Loading User Current...</b>
    </div>
</div>
<div id="return"><a href="/login" type="button"><i
      class="fas fa-light fa-reply-all"
    ></i></a></div>
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"
></script>
<script src="/js/current.js"></script>